.criminal-alibi-contaier {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.criminalsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.alibiContaier {
  margin-top: 2rem;
  border: 3px solid black;
}

.criminals--title {
  font-size: 2rem;
  text-decoration: underline;
}
.criminal {
  width: 25%;
  border: 2px dotted gray;
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
  border-radius: 25px;
}

.criminalList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.alibi--btn {
  border-radius: 25px;
  padding: 0.25rem;
}
