.criminalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.criminal {
    width: 25%;
    border: 2px dotted gray;
    margin: 1rem;
    padding: 1rem;
}

.criminalList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center
}