.notesContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.noteFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  border: 4px solid black;
  border-radius: 25px;
  padding: 1rem;
}

.noteFormInput {
  width: 80%;
  margin: 1rem;
  border-radius: 25px;
  padding: 0.5rem;
}

#saveNote {
  width: 30%;
  text-align: center;
}

.noteEntryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 40%;
}

.individualNote {
  width: 25%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 0.5rem;
  padding: 0.5rem;
}
