.witnesses--title {
  text-align: center;
}

.witnessList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.witness {
  width: 25%;
  border: 2px dotted gray;
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
  border-radius: 25px;
}
